body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app {
  width: 280px;
  height: 500px;
  background-color: black;
  color: white;
  text-align: center;
  position: relative;
  margin: auto;
  border-radius: 20px;
}
h1 {
  padding-top: 20px;
  font-size: 25px;
}
.calc-wrapper {
  height: 50px;
  justify-content: space-between;
  padding: 0 20px;
}
.display {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#result,
#num {
  background: black;
  border: none;
  color: gray;
  font-size: 35px;
  text-align: right;
  outline: none;
  margin-right: 5px;
}
.buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: repeat(5, 50px);
  grid-template-columns: repeat(4, 50px);
  margin: 20px 0 0 5px;
}

button {
  color: white;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: black;
  cursor: pointer;
  outline: none;
}
button.right {
  background-color: orange;
}
button.first-line {
  background-color: grey;
}
button.zero {
  position: relative;
  grid-column: 1 / span 2;
  justify-content: flex-start;
  width: 110px;
  border-radius: 50px;
  padding-left: 15px;
}
button:active {
  transition: 0.1s linear;
  box-shadow: inset 1px 1px 50px rgb(228, 226, 226);
}
